    body {
	    text-align: center;
	    background: black;
	    color: pink 
	}
     
    h2 {
        color:rgb(243, 231, 236)     
    }
    



	#dava {
	    width: 70%;
	    height: 30%;
	}

	#luva {
	    width: 70%;
	    height: 30%;


	}